html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

h1, h2, h3, h4, h5, p, span {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-weight: 400;
}

input {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* font */

@font-face {
    font-family: 'h2_font';
    src: url('../font/h2_font.ttf');
}

@font-face {
    font-family: 'heading_font';
    src: url('../font/heading_font.ttf');
}

h1 {
    font-family: heading_font;
}

h2, h3, h4, input[type=submit] {
    font-family: h2_font;
}

.header {
    display: block;
    position: relative;
    background-image: url('../img/background/header_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
}

.header__fixed-block {
    display: block;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    z-index: 100;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.3);
}

.header__flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 90%;
    height: auto;
    margin: 0 auto;
    align-items: center;
}

.header__basket {
    display: block;
    width: 8%;
    height: 8%;
    cursor: pointer;
}

.header__basket img {
    width: 100%;
    height: auto;
}

.header__logo {
    display: block;
    width: 8%;
    height: 8%;
}

.header__logo img {
    width: 100%;
    height: auto;
}

.header__nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 60%;
}

.header__nav h2 {
    cursor: pointer;
}

.header__user {
    display: block;
    width: 8%;
    height: 8%;
    cursor: pointer;
}

.header__user-img {
    display: block;
    width: 100%;
    height: 100%;
}

.header__user-img img {
    width: 100%;
    height: auto;
}

.user-active {
    display: block;
    width: 100%;
    height: 15vh;
    overflow: hidden;
}

.user-active img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 250px;
}

.header__user-name {
    display: block;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.header__user-exit {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.header__content {
    display: block;
    width: 60%;
    height: auto;
    margin-left: 5%;
    padding-top: 2%;
}

.header__heading {
    width: auto;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    color: white;
}

.header__h2 {
    width: 100%;
    height: auto;
    text-align: left;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
}

/* index->main */

.main {
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
}

/* contact */

.contacts {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    z-index: 200;
}

.contacts__box {
    display: block;
    position: relative;
    background-color: rgb(236, 236, 236);
    width: 30%;
    height: auto;
    margin: 10% auto;
    padding: 2% 3% 3% 3%;
    border-radius: 10px;
    z-index: 100;
}

.contacts__close {
    display: block;
    position: absolute;
    right: 2%;
    top: 2%;
    width: 10%;
    height: auto;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.contacts__close:hover {
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.contacts__close img {
    width: 100%;
    height: auto;
}

.contacts__box-inner {
    display: block;
    width: 80%;
    margin: 4% auto;
}

.contacts__box-inner h2:nth-child(2), .contacts__box-inner h2:nth-child(3) {
    padding-top: 1%;
    padding-left: 10%;
    letter-spacing: 1px;
}

/* footer */

.footer {
    display: block;
    position: relative;
    background-image: url('../img/background/footer_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 42vh;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footer__logo {
    display: block;
    width: 10%;
    height: auto;
    margin: 0 auto;
}

.footer__logo img {
    width: 100%;
    height: auto;
}

.footer__heading {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    color: white;
}

.footer__flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 90%;
    height: auto;
    margin: 0 auto;
    color: white;
}

.footer__flex h2 {
    text-align: center;
    cursor: pointer;
}

/* message */

.message {
    display: flex;
    position: fixed;
    background-image: url('../img/background/header_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    align-items: center;
}

.message__box {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    width: 40%;
    height: auto;
    margin: 0 auto;
}

.message__box h2 {
    padding: 2%;
}

.message__box h2:nth-child(2) {
    color: #009daf;
}

/* index->main */

.main__nav {
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.main__nav-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.main__h2 {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    width: 20%;
}

.main__h2 h2 {
    cursor: pointer;
}

.main__restorants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.main__restorants-box {
    display: block;
    background-color: rgba(255, 255, 255, 0.849);
    width: 30%;
    height: auto;
    border-radius: 10px;
    transition: .5s ease-in-out;
    cursor: pointer;
    padding-bottom: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.main__restorants-box:hover {
    transform: scale(1.05);
    transition: .5s ease-in-out;
}

.main__restorants-box-img {
    display: block;
    width: 100%;
    height: 70%;
}

.main__restorants-box-img img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main__restorants-box-name {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 4%;
}

.main__restorants-box-category {
    display: block;
    text-align: left;
    width: 90%;
    margin: 0 auto;
}